@inject IJSRuntime JS
@implements IAsyncDisposable

<div>MapComponentPage</div>
<div id="map" style="width:@Width; height:@Height;"></div>

@code {
    private IJSObjectReference? module;
    private string? result;

    [Parameter]
    public IEnumerable<IUser>? Users { get; set; }

    [Parameter]
    public string Width { get; set; } = "600px";

    [Parameter]
    public string Height { get; set; } = "400px";

    [Parameter]
    public int Zoom { get; set; } = 7;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/leafletmap.js");

            if (module!=null)
            { 
                result = await module.InvokeAsync<string>("InitializeMap", Users, Zoom);
            }
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
