@inject IJSRuntime JS
@implements IAsyncDisposable

<div>MapComponentPage</div>
<div id="map" style="width:600px; height:400px;"></div>

@code {
    private IJSObjectReference module;
    private string? result;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/leafletmap.js");

            if (module!=null)
            { 
                result = await module.InvokeAsync<string>("InitializeMap", "");
            }
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
